[submodule "drone_racer"]
	path = drone_racer
	url = git@github.com:WarriorHanamy/drone_racer.git
	branch = rec/meshes
[submodule "IsaacLab"]
	path = IsaacLab
	url = git@github.com:WarriorHanamy/IsaacLab.git
	branch = main
[submodule "rsl_rl"]
	path = rsl_rl
	url = git@github.com:WarriorHanamy/rsl_rl.git
	branch = main
